.bg-1 {
    background-color: #ffffff;
    color: #000000;
}

.bg-2 {
    background-color: #720037;
    color: #ffffff;
}

.bg-3 {
  background-color: #ffffff;
  color: #555555;
}

.bg-4 {
  background-color: #000000;
  color: #ffffff;
}

.container-fluid-content {
    padding-top: 70px;
    padding-bottom: 70px;
}

a:link {
    color: #720037;
    letter-spacing: 5px;
    font: 15px "Montserrat", sans-serif;
    font-weight: bolder;
}

a:hover {
    color: #000000;
}

.navbar {
    font: 20px "Montserrat", sans-serif;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #720037 !important;
}

body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    position: relative;
}

  #who {padding-top:50px;height:500px; }
  #profile {padding-top:50px;height:500px; }
  #portfolio {padding-top:30px;height:500px;}
  #contact {padding-top:50px;height:400px;}

h4 {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.margin {
  margin-bottom: 45px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 80%;
    height: 20%;
    margin-bottom: 10px;
}
